@font-face {
    font-family: 'fontPatri';
    src: url('../font/PatrickHand-Regular.ttf');
}

.bookingTicket{
    font-family: 'fontPatri';
    background-image: url(../assets/bgMovie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    position: relative;
}
.bookingTicket::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.ghe{
    border: 3px solid orange;
    width: 37px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 5px;
}

.rowNumber{
    width: 41px;
    height: 35px;
    background: none;
    border:none;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 208, 0);
    margin-right: 5px;
    margin-left: 5px;    
}
.firstChar{
    color: yellow;
    font-size: 35px;
    margin-right: 15px;
}

.screen{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width: 97%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
    text-align: center;
}


.gheDuocChon {
    border: 3px solid orange;
    background: orange;
    color: #000;
    /* cursor: no-drop !important; */
    border-radius: 5px;
    width: 37px;
    height: 35px;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 5px;
}

.gheDangChon {
    background: rgb(109, 238, 109);
    border: 3px solid rgb(109, 238, 109);
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    width: 37px;
    height: 35px;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 5px;
}